/*
 * Reset Style
*/
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

/*
 * Variable
*/
:root {
	/* Color */
	--c-base: #ecf1f3;
	--c-sub: #2e4961;
	--c-sub-rgb: 46, 73, 97;
	--c-primary: #0a659e;
	--c-secondary: #1f777f;
	--c-tertiary: #becacb;
	--c-danger: #e9483a;
	/* Font */
	--f-family-main: 'Noto Sans JP', sans-serif;
	/* Container */
	--container-md: 100rem;
	/* Padding */
	--padding-pc: 4rem;
	/* breakpoint */
	--mq-small: 375px;
	--mq-medium: 768px;
	--mq-large: 992px;
	--mq-exlarge: 1200px;
}

/*
 * Base Style
*/

html {
	font-size: 62.5%;
	height: 100%;
	min-height: 100%;
}

body {
	font-size: 1.6rem;
	font-family: var(--f-family-main);
	background-color: var(--c-base);
	color: var(--c-sub);
	height: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

a {
	cursor: pointer;
	transition: opacity 0.5s;
}
a:hover {
	opacity: 0.7;
}

button {
	cursor: pointer;
	transition: opacity 0.5s;
}
button:hover {
	opacity: 0.7;
}
