/*
* top-page
*/
.p-top {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	margin-top: 12rem;
}

.p-top__title {
	text-align: center;
}
.p-top__title-read {
	text-align: center;
	margin-top: 0.8rem;
}

.p-top__btn-wrapper {
	text-align: center;
	margin-top: 4rem;
}
.p-top__btn {
	display: inline-block;
	background-color: var(--c-secondary);
	color: var(--c-base);
	padding: 0.8rem 1.6rem;
	border-radius: 0.4rem;
	font-size: 1.8rem;
}

/*
* read-page
*/
.p-read {
	padding: 6rem 0;
}

.p-read__contents {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.p-read__message {
	font-size: 1.8rem;
	color: var(--c-secondary);
	margin-top: 2rem;
}

.p-read__widget {
	margin-top: 4rem;
	width: 100%;
	display: flex;
	align-items: center;
}

.p-read__widget-filter {
	display: flex;
	align-items: center;
	margin-right: auto;
}

.p-read__widget-desc,
.p-read__widget-asc {
	display: inline-block;
	color: var(--c-secondary);
}

.p-read__widget-asc i,
.p-read__widget-desc i {
	font-size: 3rem;
}

.p-read__widget-desc {
	margin-left: 0.8rem;
}

.p-read__widget-input {
	margin-left: 4rem;
	padding: 0.6rem 0.4rem;
	width: max(20rem, 200px);
}

.p-read__widget-btn {
	display: inline-block;
	background-color: var(--c-secondary);
	color: var(--c-base);
	padding: 0.8rem 1.2rem;
	border-radius: 0.2rem;
}

.p-read__table-wrapper {
	width: 100%;
	margin-top: 1.2rem;
}

.p-read__table {
	table-layout: fixed;
	border-collapse: collapse;
	margin-top: 1rem;
	width: 100%;
	white-space: nowrap;
}

.p-read__table-th,
.p-read__table-td {
	padding: 0.8rem 1.6rem;
}

.p-read__table-th {
	border-bottom: max(0.15rem, 1.5px) solid rgba(var(--c-sub-rgb), 100%);
}

.p-read__table-td {
	border-bottom: max(0.1rem, 1px) solid rgba(var(--c-sub-rgb), 30%);
	text-align: center;
}

.p-read__btn-edit {
	display: inline-block;
	padding: 0.4rem 0.8rem;
	border-radius: 0.2rem;
	background-color: var(--c-primary);
	color: var(--c-base);
}

.p-read__btn-delete {
	display: inline-block;
	padding: 0.4rem 0.8rem;
	border-radius: 0.2rem;
	background-color: var(--c-danger);
	color: var(--c-base);
}

@media (max-width: 992px) {
	.p-read__table {
		border-collapse: separate;
		border-spacing: 0 4rem;
	}

	.p-read__table-row--head {
		display: none;
	}

	.p-read__table-td {
		display: block;
		font-size: max(1.8rem, 18px);
	}

	.p-read__table-td:first-of-type {
		background-color: var(--c-secondary);
		color: var(--c-base);
	}

	.p-read__table-td::before {
		content: attr(data-label);
		display: block;
		font-size: max(1.2rem, 12px);
		margin-bottom: 0.4rem;
	}
}

/*
* create-page
*/
.p-create {
	padding: 6rem 0;
	width: 100%;
	width: min(100%, 400px);
	margin: 0 auto;
}

.p-create__contents {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.p-create__btn-wrapper {
	text-align: left;
	margin-top: 4rem;
}

.p-create__btn-back {
	display: inline-block;
	background-color: var(--c-secondary);
	color: var(--c-base);
	padding: 0.4rem 0.8rem;
	border-radius: 0.2rem;
	border: none;
	font-size: 1.8rem;
}

.p-create__form {
	margin-top: 4rem;
}

/*
* update-page
*/
.p-update__message {
	text-align: center;
	margin-top: 4rem;
	font-size: 2rem;
}
